{% extends "base.html" %}
{% block content %}
<style> .centered-form 
*:focus{outline: auto;}
body {font-family: Arial;background-color: #3498db;}
        
        
.centered-form 
{ display: flex; justify-content: center; align-items: center; height: 100vh; width: 400px; border: solid 3px;
background-color:  #fff;padding: 20px; border-radius: 5px;}
        
        
.fsize
{ font-size: 50px; text-align: center;}
</style>
<body>
<div class="container centered-form">
<form action="/account_delete" method="post">

<p class="fsize">{{title}}</p>

    <div class="row">
        <div class="col-auto">
            <div class="form-floating">
                <input class="form-control" type="text" name="id" id="id" placeholder="ユーザIDを入力...">
                <label for="id" class="col-form-label">ユーザID</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <div class="form-floating">
                <input class="form-control" type="password" name="password" id="password" placeholder="パスワードを入力...">
                <label for="password" class="col-form-label">パスワード</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <div class="form-floating">
                <input class="form-control" type="text" name="lastname" id="lastname" placeholder="姓を入力...">
                <label for="lastname" class="col-form-label">姓</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <div class="form-floating">
                <input class="form-control" type="text" name="firstname" id="firstname" placeholder="名を入力...">
                <label for="firstname" class="col-form-label">名</label>
            </div>
        </div>
    </div>
        <div class="col-auto">
            このアカウントを削除しますか？
        </div>
        <div class="col-auto">
            <input type="submit" value="削除" class="btn btn-warning">
            <a href="/"><button type="button" class="btn btn-outline-primary">戻る</button></a>
        </div>
    </div>    
    </form>
    </body>
{% endblock content %}